@import '../variables';

.srs {
	color: #fff;

	&.apprentice {
		background-color: $color-apprentice;
	}

	&.guru {
		background-color: $color-guru;
	}

	&.master {
		background-color: $color-master;
	}

	&.enlightened {
		background-color: $color-enlightened;
	}

	&.burned {
		background-color: $color-burned;
	}
}
