@import '../variables';

.sortColumn {
	cursor: pointer;

	&:hover {
		background-color: #fafafa;
	}
}

.item {
	font-size: 24px;
	transition: background-color 100ms linear;

	a {
		color: white;
		text-shadow: none;
		display: block;
		margin: -0.5rem -0.75rem;
		padding: 0.5rem 0.75rem;
		transition: color 100ms linear, text-shadow 100ms linear;
	}

	@each $name, $color in $colors-type {
		&.#{$name} {
			background-color: $color;

			&:hover {
				background-color: lighten($color, 10%);
			}

			a:hover {
				color: darken($color, 20%);
			}
		}
	}
}

.srs {
	color: #fff;

	@each $name, $color in $colors-srs {
		&.#{$name} {
			background-color: $color;
		}
	}
}
