@import '../variables';

.sortColumn {
	cursor: pointer;

	&:hover {
		background-color: #fafafa;
	}
}

.item {
	font-size: 24px;
	transition: background-color 100ms linear;

	a {
		color: white;
		text-shadow: none;
		display: block;
		margin: -0.5rem -0.75rem;
		padding: 0.5rem 0.75rem;
		transition: color 100ms linear, text-shadow 100ms linear;
	}

	&.radicals {
		background-color: $color-radical;

		&:hover {
			background-color: lighten($color-radical, 10%);
		}

		a:hover {
			color: darken($color-radical, 20%);
		}
	}

	&.kanji {
		background-color: $color-kanji;

		&:hover {
			background-color: lighten($color-kanji, 10%);
		}

		a:hover {
			color: darken($color-kanji, 20%);
		}
	}

	&.vocabulary {
		background-color: $color-vocabulary;

		&:hover {
			background-color: lighten($color-vocabulary, 10%);
		}

		a:hover {
			color: darken($color-vocabulary, 20%);
		}
	}
}

.srs {
	color: #fff;

	&.apprentice {
		background-color: $color-apprentice;
	}

	&.guru {
		background-color: $color-guru;
	}

	&.master {
		background-color: $color-master;
	}

	&.enlightened {
		background-color: $color-enlightened;
	}

	&.burned {
		background-color: $color-burned;
	}
}
